
#top {
    position: relative;
    background-color: #036fab;
    color: white;
    padding: 5px;
    margin: 0px 0px 10px 0px;
}

#bottom {
    position: relative;
    background-color: #c2dfef;
    padding: 5px;
    margin: 10px 0px 0px 0px;
}

#left {
    float: left;
    background-color: #ece3a5;
    padding: 5px;
    width: 10%;
}

#right {
    float: right;
    background-color: #ece3a5;
    padding: 5px;
    width: 20%;
}

.center_content {
    position: relative;
    background-color: #dddddd;
    padding: 5px;
}

.left_content {
    background-color: #dddddd;
    padding: 5px;
    margin-left: 170px;
}

.right_content {
    background-color: #dddddd;
    padding: 5px;
    margin: 0px 170px 0px 170px;
}

#top a:link, #top a:visited {
    color: white;
    font-weight : bold;
    text-decoration: none;
}

#top a:link:hover, #top a:visited:hover  {
    color: black;
    font-weight : bold;
    text-decoration : underline;
}
.top {
    vertical-align:top;

}

.top1 {
    vertical-align:top;
    width:10%;
}
.top3 {
    vertical-align:top;
    width:30%;
}
.top4 {
    vertical-align:top;
    width:70%;
}
.top2 {
    width: 90%;
    vertical-align:top;
}
.titleMenu{
    font-size:11pt;
    font-weight:bold
}
.titleLib{
    font-size:9pt;
    font-weight:bold;
}
.titlePanel {
    font-size:14pt;
    font-weight:bold;
}
.title4 {
    font-size:12pt;
    font-weight:bold;
}
.linkAdd{
   font-size:7pt; 
   font-weight:bold;
}
.btn_val{
    border-style:none;
    background-color:darkcyan;
    width: 100%;
    cursor: pointer; 
    color: white;
    font-weight: bold;
    font-size: 12px
}
.btn_annul{
    border-style:none;
    background-color:#D20005;
    width: 100%; 
    cursor: pointer; 
    color: white;
    font-weight: bold;
    font-size: 12px
    
}
